<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.naika.naikapay">

    <queries>
        <package android:name="io.naika.naikasigner" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <receiver
            android:name=".receiver.BillingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="io.naika.naikapay.connectWallet" />
                <action android:name="io.naika.naikapay.networkSupport" />
                <action android:name="io.naika.naikapay.signTransaction" />
                <action android:name="io.naika.naikapay.sendTransaction" />
                <action android:name="io.naika.naikapay.gasPrice" />
                <action android:name="io.naika.naikapay.ethCall" />
            </intent-filter>
        </receiver>
    </application>

</manifest>